@import url("https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Poppins:wght@300;400;500;600;700&family=Rancho&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  --body-color: #;
  --side-color: #;
  --primary-color: #;
  --primary-color-light: #;
  --toggle-color: #;
  --text-color: #;

  /* Transitions  */
  --tran-01: ;
  --tran-02: ;
  --tran-03: ;
  --tran-05: ;
}
